SODAR_CHECK_SODAR_URL=https://sodar.example.com
SODAR_CHECK_SODAR_API_TOKEN=xxxyyy
SODAR_CHECK_IRODS_ENV_PATH=/home/user/.irods/irods_environment.json
SODAR_CHECK_IRODS_FILE_PATH=/sodarZone/path/to/your/file.txt
SODAR_CHECK_DAVRODS_URL=https://sodar.example.com
SODAR_CHECK_INTERVAL=10
SODAR_CHECK_LOG_LEVEL=INFO
SODAR_CHECK_LOG_FORMAT="%(asctime)s [%(levelname)s] %(message)s"
SODAR_CHECK_LOG_DATEFMT="%Y-%m-%d %H:%M:%S"
